/* Content */
.about {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  z-index: 0;

  background-color: var(--light-pink-backgrount-color);
}

.about::before {
  top: 600px;
  left: 0;
  position: absolute;
  content: '';
  width: 50px;
  height: 150px;
  background-image: url(../images/Ice-cream_pictures/about_milk-left_desk_2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @media screen and (min-width: 480px) {
    width: 100px;
    height: 300px;
    top: 560px;
  }
  @media screen and (min-width: 768px) {
    width: 130px;
    height: 400px;
    top: 240px;
  }

  @media screen and (min-width: 1280px) {
    width: 170px;
    height: 550px;
    top: 240px;
  }
}

.about::after {
  top: 590px;
  right: 0;
  position: absolute;
  content: '';
  width: 70px;
  height: 140px;
  background-image: url(../images/Ice-cream_pictures/about_milk-right_desk_2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @media screen and (min-width: 480px) {
    width: 130px;
    height: 300px;
    top: 500px;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
    height: 350px;
    top: 210px;
  }

  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 550px;
    top: 150px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  /* font-size: 30px;
    line-height: 1.1;  */
  text-align: center;
  /* letter-spacing: 0.04em; */
  text-transform: uppercase;

  color: var(--lable-text-color);
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }
}

.label__title {
  padding-top: 16px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  /* font-size: 58px;
    line-height: 1.14; */
  text-align: center;
  letter-spacing: 0.04em;
  /* letter-spacing: 0.06em; */
  text-transform: uppercase;

  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 480px) {
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.content__img {
  width: 280px;
  height: 279px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 335px;
  }

  @media screen and (min-width: 1280px) {
    width: 501px;
    height: 501px;
  }
}

.content__inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__bold-text {
  width: 220px;
  height: 79px;
  margin: 30px 0 40px 0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  /* letter-spacing: 0.04em; */

  color: #000000;
  @media screen and (min-width: 768px) {
    width: 334px;
    height: 79px;
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    height: 79px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.content__grey-text {
  width: 220px;
  height: 181px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  /* font-size: 14px;
    line-height: 1.94; */
  /* letter-spacing: 0.04em; */

  color: #907e82;
  @media screen and (min-width: 768px) {
    width: 334px;
    height: 155px;
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    height: 155px;
    font-size: 14px;
    line-height: 1.94;
  }
}

.content__grey-text__down {
  margin-top: 20px;
  display: inline-block;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  /* font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em; */

  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.94;
  }
}

/* Button */
.content__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 40px 0 20px 0;
  width: 176px;
  height: 44px;
  border-radius: 22px;

  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.41;

  color: var(--accent-color);
  background: #ffffff;
}
.content__button::after {
  content: '';

  position: absolute;
  top: 19px;
  right: 28px;

  width: 4.43px;
  height: 9px;

  //   background-image: url(./);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:hover,
  &:focus {
    background-color: var(--hover-button-background-color);
  }
}
/* Modal */
.modal-more {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;

  background-color: #5551529e;
}
.modal-more:target {
  opacity: 1;
  visibility: visible;
}
.modal-more__fon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-more__body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.modal-more__content {
  position: relative;
  margin-top: 125px;
  width: 300px;
  height: 600px;
  padding: 10px;

  border: 3px solid var(--accent-color);
  border-radius: 10px;
  background-color: #f7d0da;
  @media screen and (min-width: 768px) {
    margin-top: 90px;
    width: 700px;
    height: 450px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 75px;
    width: 1000px;
    height: 500px;
  }
}

.modal-more__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-decoration: none;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.41;
  color: #000000;
  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--hover-button-background-color);
  }
}

.modal-more__title {
  display: flex;
  justify-content: center;
  padding-top: 5px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: var(--accent-color);
}
