.contacts {
  padding-bottom: 48px;
  background-image: linear-gradient(to bottom, #ffffff 22%, #fff5f6 23%);

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, #ffffff 20%, #fff5f6 21%);
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
    background-image: linear-gradient(to bottom, #ffffff 12%, #fff5f6 13%);
  }
}

.contacts-card-list {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.contacts-card-item {
  width: 100%;
  margin: 0 auto;
  padding: 40px 32px;
  background: var(--primary-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    max-width: 224px;
    flex-basis: calc(100% / 2 - 32px);
  }

  @media screen and (min-width: 1280px) {
    min-width: 395px;
    padding: 40px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 16px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 32px;
    }
  }
}

.contacts-card-top-text {
  min-width: 80px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
  background-color: #f0d1a5;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    min-width: 73px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.04em;
  }

  &.second {
    min-width: 130px;
    background-color: #c2e297;

    @media screen and (min-width: 768px) {
      min-width: 138px;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.04em;
    }
  }
}

.location {
  border-bottom: 1px solid #e1e1e1;
}

.location-text-city {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;

  color: var(--text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.location-text-description {
  width: 180px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.work-time-list {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid #e1e1e1;
}

.work-time-item:not(:last-child) {
  margin-bottom: 8px;
}

.work-time-text-day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.03em;

  color: var(--text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.work-time-text-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.03em;

  color: var(--lable-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: none;
  }
}

.contacts-btn-list {
  margin-top: 32px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 60px;
  }
}

.contacts-btn-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.contacts-btn.secondary {
  min-width: 162px;
  height: 44px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;

  color: var(--primary-text-color);

  background-color: var(--accent-color);
  border-radius: 22px;
  border: transparent;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    min-width: 192px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 198px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.contacts-btn.main {
  min-width: 162px;
  height: 44px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;

  color: var(--accent-color);

  background-color: var(--primary-text-color);
  border-radius: 22px;
  border: transparent;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    min-width: 174px;
    margin-left: 15px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 180px;
  }

  &:hover,
  &:focus {
    background-color: var(--hover-button-background-color);
  }
}

.contacts-btn-icon.secondary {
  margin-left: 13px;
}

.contacts-btn-icon.main {
  margin-left: 13px;
}

.contacts-loc-backdrop {
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 10;
  
  @media screen and (max-height: 610px) {
      align-items: flex-start;
  }
  
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--timing-function),
  visibility 250ms var(--timing-function);

  &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
  }
}

.contacts-loc-map {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.contacts-loc-modal {
  padding: 50px 10px;
  background-color: #fff5f6;

  min-height: 550px;
  width: 100%;
  box-shadow: 
      0px 1px 3px rgba(0, 0, 0, 0.12), 
      0px 1px 1px rgba(0, 0, 0, 0.14), 
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 480px) {
      width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 650px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 701px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .backdrop.is-hidden & {
      transform: scale(0.7);
  }
}  

.contacts-loc-modal-close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  stroke: #000;

  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}