.reviews-slider {
  @media screen and (min-width: 768px) {
    width: 620px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
    margin: 0 auto;
  }
}

.reviews-text-wrapper {
  position: relative;
  background-color: var(--reviews-bg);
  padding: 74px 50px 17px;
  margin-bottom: 16px;
  z-index: -2;
  @media screen and (min-width: 768px) {
    padding: 20px 6px 36px;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 1280px) {
    padding: 32px 105px 32px;
    margin-bottom: 16px;
  }
}

.reviews-text {
  font-size: 12px;
  line-height: 2.55;
  padding: 0 18px;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1 0px 1px,
    transparent 1px 31px
  );
  text-align: center;
  &::before {
    content: '';
    background-image: url(../images/icons/quotes.svg);
    background-size: cover;
    width: 60px;
    height: 40px;
    color: #e1e1e1;
    position: absolute;
    top: 55px;
    left: 50px;
    z-index: -1;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 47px;
    &::before {
      content: '';
      background-image: url(../images/icons/quotes.svg);
      background-size: cover;
      width: 60px;
      height: 40px;
      color: #e1e1e1;
      position: absolute;
      top: 3px;
      left: 5px;
      z-index: -1;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 35px;

    &::before {
      content: '';
      background-image: url(../images/icons/quotes.svg);
      background-size: cover;
      width: 60px;
      height: 40px;
      color: #e1e1e1;
      position: absolute;
      top: 14px;
      left: 107px;
      z-index: -1;
    }
  }
}

.reviews {
  padding-top: 80px;
  padding-bottom: 53px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.reviews-image {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.reviews-name {
  font-size: 14px;
  line-height: 1.86;
  text-align: center;

  color: var(--text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.point-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.point-item {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--btn-hover-accent);
  margin-bottom: 16px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

// .reviews-text-wrapper {
//   position: relative;
//   background-color: var(--reviews-bg);
//   padding: 74px 50px 17px;
//   margin-bottom: 16px;
//   z-index: -2;
//   @media screen and (min-width: 768px) {
//     margin-bottom: 4px;
//   }
//   @media screen and (min-width: 1280px) {
//     margin-bottom: 16px;
//   }
// }

// .reviews-text {
//   font-size: 12px;
//   line-height: 2.55;
//   padding: 0 18px;
//   background-image: repeating-linear-gradient(
//     to top,
//     #e1e1e1 0px 1px,
//     transparent 1px 31px
//   );
//   text-align: center;
//   &::before {
//     content: '';
//     background-image: url(../images/icons/quotes.svg);
//     background-size: cover;
//     width: 60px;
//     height: 40px;
//     color: #e1e1e1;
//     position: absolute;
//     top: 55px;
//     left: 50px;
//     z-index: -1;
//   }
// }

// @media screen and (min-width: 480px) {
//   .container {
//     width: 480px;
//     margin: 0 auto;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container {
//     width: 704px;
//   }

//   .reviews-slider {
//     width: 620px;
//     margin: 0 auto;
//   }

//   .reviews-text-wrapper {
//     padding: 20px 6px 36px;
//   }

//   .reviews-text {
//     font-size: 14px;
//     line-height: 2.16;
//     letter-spacing: 0.04em;
//     padding: 0 47px;
//     &::before {
//       content: '';
//       background-image: url(../images/icons/quotes.svg);
//       background-size: cover;
//       width: 60px;
//       height: 40px;
//       color: #e1e1e1;
//       position: absolute;
//       top: 3px;
//       left: 5px;
//       z-index: -1;
//     }
//   }
// }

// @media screen and (min-width: 1280px) {
//   .container {
//     width: 1248px;
//   }

//   .reviews-text-wrapper {
//     padding: 32px 105px 32px;
//   }

//   .reviews-slider {
//     width: 1034px;
//     margin: 0 auto;
//   }

//   .reviews-text {
//     font-size: 16px;
//     line-height: 1.86;
//     padding: 0 35px;

//     &::before {
//       content: '';
//       background-image: url(../images/icons/quotes.svg);
//       background-size: cover;
//       width: 60px;
//       height: 40px;
//       color: #e1e1e1;
//       position: absolute;
//       top: 14px;
//       left: 107px;
//       z-index: -1;
//     }
//   }
// }

// .reviews {
//   padding-top: 80px;
//   padding-bottom: 53px;
//   @media screen and (min-width: 768px) {
//     padding-top: 80px;
//     padding-bottom: 80px;
//   }
//   @media screen and (min-width: 1280px) {
//     padding-top: 120px;
//     padding-bottom: 120px;
//   }
// }

// .reviews-image {
//   width: 85px;
//   height: 85px;
//   margin: 0 auto;
//   margin-bottom: 32px;
//   @media screen and (min-width: 768px) {
//     margin-bottom: 20px;
//   }
//   @media screen and (min-width: 1280px) {
//     margin-bottom: 16px;
//   }
// }

// .reviews-name {
//   font-size: 14px;
//   line-height: 1.86;
//   text-align: center;

//   color: var(--text-color);
//   @media screen and (min-width: 768px) {
//     font-size: 16px;
//   }
//   @media screen and (min-width: 1280px) {
//     font-size: 20px;
//   }
// }

// .point-list {
//   list-style-type: none;
//   display: flex;
//   justify-content: center;
// }
// .point-item {
//   display: inline-block;
//   width: 4px;
//   height: 4px;
//   border-radius: 50%;
//   background-color: var(--btn-hover-accent);
//   margin-bottom: 16px;
//   &:not(:last-child) {
//     margin-right: 10px;
//   }
// }
