.footer{
    background: #FFF5F6;
}

.footer-title{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #FFA5BA;
    max-width: 232px;
    margin-bottom: 16px;
}

.footer-title-two{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    max-width: 200px;
    
}