.mobile-tablet-header {
  display: flex;
  align-items: center;
  background-color: var(--lable-text-color);

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
  }
}

.header-logo {
  display: flex;
  align-items: center;

  &:hover .header-logo-label,
  &:focus .header-logo-label {
    color: var(--btn-hover-accent);
  }
}

.header-logo-icon {
  width: 50px;
}

.header-logo-label {
  color: var(--accent-color);
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;

  transition: color 250ms var(--timing-function);
}

.main-nav {
  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.main-nav-list {
  display: flex;
}
.main-nav-item + .main-nav-item {
  margin-left: 35px;
}
.main-nav-link {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}

.header-burger-btn {
  border: 1px solid tomato;
  background-color: rgba(0, 0, 0, 0);
  fill: var(--accent-color);
  padding: 0;
  margin-left: auto;
  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--primary-text-color);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.tablet-buy-btn {
  display: inline-block;
  background-color: var(--button-background-color);
  color: var(--accent-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  min-width: 160px;
  height: 44px;
  border: 0px;
  border-radius: 22px;
  padding: 9px 37px;
  margin: 0;
  margin-left: 32px;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--hover-button-background-color);
  }

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.tablet-btn-icon-vector {
  fill: var(--accent-color);
  width: 4px;
  height: 8px;
  margin-left: 12px;
}

.mobile-menu-hidden {
  position: fixed;
  left: 0;
  top: 0;
  width: 75vw;
  height: 100vh;
  z-index: 10;

  display: flex;
  flex-direction: column;
  background-color: #e17992;

  padding-top: 60px;

  transform: translateX(100vw);

  transition: transform 250ms var(--animation-function);
}

.mobile-menu-hidden.is-open {
  transform: translateX(25vw);
}

.mobile-hidden-list {
  display: inline-block;
  flex-grow: 1;

  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-hidden-item {
  display: flex;
  height: 42px;
  justify-content: center;
  flex-direction: column;

  padding-left: 20px;

  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-hidden-link {
  color: #ffffff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-decoration: none;

  display: block;

  transition: color 250ms var(--animation-function);

  &:hover,
  &:focus {
    color: #d41443;
  }
}
