.mobile-tablet-header {
  display: flex;
  align-items: center;
  background-color: var(--lable-text-color);

  margin-top: 8px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    margin-top: 37px;
  }
}

.header-logo {
  display: flex;
  align-items: center;

  &:hover .header-logo-label,
  &:focus .header-logo-label {
    color: var(--btn-hover-accent);
  }
}

.header-logo-icon {
  width: 50px;
}

.header-logo-label {
  color: var(--accent-color);
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 25px;
  line-height: 1.15;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;

  transition: color 250ms var(--timing-function);
}

.main-nav {
  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.main-nav-list {
  display: flex;
}
.main-nav-item + .main-nav-item {
  margin-left: 35px;
}
.main-nav-link {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}

.header-burger-btn {
  border: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  stroke: var(--accent-color);
  padding: 0;
  margin-left: auto;
  transition: stroke 250ms var(--timing-function);

  &:hover,
  &:focus {
    stroke: var(--primary-text-color);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.tablet-buy-btn {
  display: inline-block;
  background-color: var(--button-background-color);
  color: var(--accent-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  min-width: 160px;
  height: 44px;
  border: 0px;
  border-radius: 22px;
  padding: 9px 37px;
  margin: 0;
  margin-left: 32px;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--hover-button-background-color);
  }

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  &.size {
    width: 186px;
    margin: 0 auto;
    margin-bottom: 20px;
    @media screen and (max-width: 767.98px) {
      display: block;
    }
  }
}

.tablet-btn-icon-vector {
  fill: var(--accent-color);
  margin-left: 12px;
}

.mobile-menu-hidden {
  position: fixed;
  left: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  z-index: 10;

  display: flex;
  flex-direction: column;
  background-color: var(--bg-menu);

  padding-top: 60px;

  transform: translateX(100vw);

  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 480px) {
    width: 50vw;
    height: 100vh;
  }

  @media screen and (min-width: 768px) {
    width: 40vw;
    height: 100vh;
  }
}

.mobile-menu-hidden.is-open {
  transform: translateX(30vw);

  @media screen and (min-width: 480px) {
    transform: translateX(50vw);
  }
  @media screen and (min-width: 768px) {
    transform: translateX(60vw);
  }
}

.mobile-hidden-list {
  display: inline-block;
  flex-grow: 1;

  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-hidden-item {
  display: flex;
  height: 42px;
  justify-content: center;
  flex-direction: column;

  padding-left: 20px;

  border-top: 1px solid var(--bg-menu-content);
  border-bottom: 1px solid var(--bg-menu-content);

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-hidden-link {
  color: var(--primary-text-color);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-decoration: none;

  display: block;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  stroke: var(--primary-text-color);

  transition: stroke 250ms var(--timing-function);

  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 400px;
  padding: 40px;

  opacity: 1;
  background-color: #f7d0da;
  border: 3px solid var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  top: +8px;
  right: +8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: transparent;
  stroke: var(--accent-color);

  transition: stroke 250ms var(--timing-function);

  &:hover,
  &:focus {
    stroke: var(--primary-text-color);
  }
}

.modal__title {
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.5;
  }
}
