 :root {
     --primary-text-color: #FFFFFF;
     --secondary-text-color: #907E82;
     --lable-text-color: #FFA5BA;
     --accent-color: #D41443;
     --darc-pink-background-color: #FFB8CA;
     --light-pink-backgrount-color: #FFF5F6;
     --button-background-color: #FFFFFF;
     --hover-button-background-color: #ECEBEB;
     --text-color: #000000;
     --bg-menu: #e17992;
     --bg-menu-content: #e18298;
     --btn-hover-accent: #c7133e;

     --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }