:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #907e82;
  --lable-text-color: #ffa5ba;
  --accent-color: #d41443;
  --darc-pink-background-color: #ffb8ca;
  --light-pink-backgrount-color: #fff5f6;
  --button-background-color: #ffffff;
  --hover-button-background-color: #ecebeb;
  --text-color: #000000;
  --bg-menu: #e17992;
  --bg-menu-content: #e18298;
  --btn-hover-accent: #c7133e;
  --reviews-bg: #fafafa;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
