<section id="about" class="about">
  <div class="container">
    <!-- Title -->
    <label class="label"
      >tradition and love
      <h1 class="label__title">how it’s made?</h1></label
    >
    <div class="content">
      <!-- Images -->
      <img
        class="content__img"
        src="./images/Ice-cream_pictures/about_cow-milk_desk_2x.png"
        alt="cau"
      />
      <!-- Text -->
      <div class="content__inform">
        <p class="content__bold-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="content__grey-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <span class="content__grey-text__down">
            Aliquam erat volutpat. Aenean accumsan.
          </span>
        </p>
        <!-- Button -->
        <a href="#modal-more" class="content__button">
          Read more
          <svg class="content__button__svg" width="8" height="10">
            <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div id="modal-more" class="modal-more">
    <a href="#about" class="modal-more__fon"></a>
    <div class="modal-more__body">
      <div class="modal-more__content">
        <a href="#about" class="modal-more__close">
          <svg class="modal-more__close__svg">
            <use href="./images/icons/symbol-defs.svg#close"></use>
          </svg>
        </a>
        <h2 class="modal-more__title">Read more</h2>
        <img
          class="content__img"
          src="./images/Ice-cream_pictures/about_cow-milk_desk_2x.png"
          alt="cau"
        />
      </div>
    </div>
  </div>
</section>
