<section id="about" class="about">
  <div class="container">
    <!-- Title -->
    <p class="label">tradition and love
    <h2 class="label__title">how it’s made?</h2>
    </p>
    <div class="content">
      <!-- Images -->
      <picture>
        <source
          srcset="
          ./images/Ice-cream_pictures/about_cow-milk_desk_1x.png x1,
          ./images/Ice-cream_pictures/about_cow-milk_desk_2x.png x2
          "
          type="image/png"
          media="(min-width:1280px)"
        />
        <source
          srcset="
          ./images/Ice-cream_pictures/about_cow-milk_tab_1x.png x1,
            ./images/Ice-cream_pictures/about_cow-milk_tab_2x.png x2
          "
          type="image/png"
          media="(min-width:768px)"
        />
        <img
          class="content__img"
          src="./images/Ice-cream_pictures/about_cow-milk_mob_1x.png"
          alt="caws"
        />
      </picture>
      <!-- <img class="content__img" src="./images/Ice-cream_pictures/about_cow-milk_desk_2x.png" alt="cau" /> -->
      <!-- Text -->
      <div class="content__inform">
        <p class="content__bold-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="content__grey-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <span class="content__grey-text__down">
            Aliquam erat volutpat. Aenean accumsan.
          </span>
        </p>
        <!-- Button -->
        <button class="content__button" type="button" data-about-open>
          Read more
          <svg class="content__button__svg" width="8" height="10">
            <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="modal-more backdrop is-hidden" data-about>
    <div class="modal-more__window">
      <button class="modal-more__close" type="button" data-about-close>
        <svg class="modal-more__close__svg">
          <use href="./images/icons/symbol-defs.svg#close"></use>
        </svg>
      </button>
      <p class="modal-more__title">Learn more</p>
      <picture>
        <source
          srcset="
          ./images/Ice-cream_pictures/hero_ice-cream_desk_1x.png  x1,
          ./images/Ice-cream_pictures/hero_ice-cream_desk_2x.png x2
          "
          type="image/png"
          media="(min-width:1280px)"
        />
        <source
          srcset="
          ./images/Ice-cream_pictures/hero_ice-cream_tab_1x.png  x1,
          ./images/Ice-cream_pictures/hero_ice-cream_tab_2x.png x2
          "
          type="image/png"
          media="(min-width:768px)"
        />
        <img
          class="modal-more__fon"
          src="./images/Ice-cream_pictures/hero_ice-cream_mob_1x.png"
          alt="caws"
        />
      </picture>
      <!-- <img
        class="modal-more__fon"
        src="./images/Ice-cream_pictures/hero_ice-cream_tab_2x.png"
      /> -->
      <picture>
        <source
          srcset="
          ./images/Ice-cream_pictures/hero_milkjug_desk_1x.png  x1,
          ./images/Ice-cream_pictures/hero_milkjug_desk_2x.png x2
          "
          type="image/png"
          media="(min-width:1280px)"
        />
        <source
          srcset="
          ./images/Ice-cream_pictures/hero_milkjug_tab_1x.png  x1,
          ./images/Ice-cream_pictures/hero_milkjug_tab_2x.png x2
          "
          type="image/png"
          media="(min-width:768px)"
        />
        <img
          class="modal-more__fon-tab-des"
          src="./images/Ice-cream_pictures/hero_milkjug_desk_1x.png"
          alt="caws"
        />
      </picture>
      <!-- <img
        class="modal-more__fon-tab-des"
        src="./images/Ice-cream_pictures/hero_milkjug_desk_1x.png"
      /> -->
      <div class="modal-more__vidio">
        <iframe
          src="https://www.youtube.com/embed/2Yd2HhKIsiE?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-more__text">
        <p class="modal-more__text-title">ICE CREAM MADE WITH PASSION</p>
        <p class="modal-more__text-content">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla. Curabitur lacinia enim at ex blandit, vel
          pellentesque odio elementum. Mauris rhoncus orci in imperdiet
          placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
          urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat.
          Aenean accumsan.
        </p>
      </div>
      <form class="modal-more__email">
        <lable class="modal-more__lable" for="modal-more-input"
          >Leave your mail and we will contact you
          <input 
          class="modal-lable__input" 
          type="text"
          name="user-email"
          placeholder="E-mail"
          id="modal-more-input"/>
        </lable>
        <button class="modal-more__button" type="submit" for="modal-more-input">send</button>
      </form>
    </div>
  </div>
</section>