<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <p class="advantages-text"><span class="advantages-account">721</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <p class="advantages-text"><span class="advantages-account">16kg</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <p class="advantages-text"><span class="advantages-account">84</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>