<section class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Our contacts</h2>
    <ul class="contacts-card__list list">
      <li class="contacts-card__item">
        <p class="contacts-card__top-text">Cafe</p>
        <div class="location">
          <p class="location__text-city">Chicago</p>
          <p class="location__text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work-time__list list">
          <li class="work-time__item">
            <p class="work-time__text-day">Monday - Friday</p>
            <p class="work-time__text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="work-time__text-day">Saturday - Sunday</p>
            <p class="work-time__text-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list list">
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:+61(0) 383 766 284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card__item">
        <p class="contacts-card__top-text top-text--second">FOOD TRUCK</p>
        <div class="location">
          <p class="location__text-city">Los Angeles</p>
          <p class="location__text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work-time__list list">
          <li class="work-time__item">
            <p class="work-time__text-day">Monday - Friday</p>
            <p class="work-time__text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="work-time__text-day">Saturday - Sunday</p>
            <p class="work-time__text-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list list">
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:+61(0) 383 766 284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card__item">
        <p class="contacts-card__top-text">Cafe</p>
        <div class="location">
          <p class="location__text-city">New York</p>
          <p class="location__text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work-time__list list">
          <li class="work-time__item">
            <p class="work-time__text-day">Monday - Friday</p>
            <p class="work-time__text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time__item">
            <p class="work-time__text-day">Saturday - Sunday</p>
            <p class="work-time__text-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list list">
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:+61(0) 383 766 284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-btn__list list">
      <li class="contacts-btn__item">
        <button type="button" class="contacts-btn__btn btn--secondary">
          Our Locations
        </button>
      </li>
      <li class="contacts-btn__item">
        <button type="button" class="contacts-btn__btn btn--main">
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
