<section class="contacts">
  <div class="container">
    <h2 class="contacts-title visually-hidden">Our contacts</h2>
    <ul class="contacts-card-list list">
      <li class="contacts-card-item">
        <p class="contacts-card-top-text">Cafe</p>
        <div class="location">
          <p class="location-text-city">Chicago</p>
          <p class="location-text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work-time-list list">
          <li class="work-time-item">
            <p class="work-time-text-day">Monday - Friday</p>
            <p class="work-time-text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time-item">
            <p class="work-time-text-day">Saturday - Sunday</p>
            <p class="work-time-text-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list list">
          <li class="contacts-item">
            <a class="contacts-link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card-item">
        <p class="contacts-card-top-text second">FOOD TRUCK</p>
        <div class="location">
          <p class="location-text-city">Los Angeles</p>
          <p class="location-text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work-time-list list">
          <li class="work-time-item">
            <p class="work-time-text-day">Monday - Friday</p>
            <p class="work-time-text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time-item">
            <p class="work-time-text-day">Saturday - Sunday</p>
            <p class="work-time-text-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list list">
          <li class="contacts-item">
            <a class="contacts-link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card-item">
        <p class="contacts-card-top-text">Cafe</p>
        <div class="location">
          <p class="location-text-city">New York</p>
          <p class="location-text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work-time-list list">
          <li class="work-time-item">
            <p class="work-time-text-day">Monday - Friday</p>
            <p class="work-time-text-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work-time-item">
            <p class="work-time-text-day">Saturday - Sunday</p>
            <p class="work-time-text-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list list">
          <li class="contacts-item">
            <a class="contacts-link link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-btn-list list">
      <li class="contacts-btn-item">
        <button type="button" class="contacts-btn secondary">
          Our Locations
          <svg class="contacts-btn-icon secondary" width="8" height="10">
            <use
              href="./images/icons/symbol-defs.svg#icon-btn-vector-light"
            ></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btn-item">
        <button type="button" class="contacts-btn main">
          Franchise
          <svg class="contacts-btn-icon main" width="8" height="10">
            <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
