<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper mySwiper">
      <div class="slider swiper-wrapper">
        <div class="swiper-slide customer-item">
          <article>
            <h3 class="visually-hidden">reviews</h3>
            <picture>
              <source
                srcset="
                  ./images/Ice-cream_pictures/customer_1_1x.png 1x,
                  ./images/Ice-cream_pictures/customer_1_2x.png 2x
                "
              />
              <img
                class="reviews-image"
                src="./images/Ice-cream_pictures/customer_1_1x.png "
                alt="customer-foto"
              />
            </picture>
            <div class="reviews-slider">
              <div class="reviews-text-wrapper">
                <p class="reviews-text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
            </div>
            <div class="point">
              <ul class="point-list">
                <li class="point-item"></li>
                <li class="point-item"></li>
                <li class="point-item"></li>
              </ul>
            </div>
            <p class="reviews-name">Emily, Los Angeles</p>
          </article>
        </div>

        <div class="swiper-slide">
          <article>
            <h3 class="visually-hidden">reviews</h3>
            <picture>
              <source
                srcset="
                  ./images/Ice-cream_pictures/customer_2_1x.png 1x,
                  ./images/Ice-cream_pictures/customer_2_2x.png 2x
                "
              />
              <img
                class="reviews-image"
                src="./images/Ice-cream_pictures/customer_2_1x.png "
                alt="customer-foto"
              />
            </picture>
            <div class="reviews-slider">
              <div class="reviews-text-wrapper">
                <p class="reviews-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Similique deserunt repudiandae sunt optio suscipit consectetur
                  temporibus voluptates nulla molestiae at.
                </p>
              </div>
            </div>
            <div class="point">
              <ul class="point-list">
                <li class="point-item"></li>
                <li class="point-item"></li>
                <li class="point-item"></li>
              </ul>
            </div>
            <p class="reviews-name">Lara, New York</p>
          </article>
        </div>

        <div class="swiper-slide">
          <article>
            <h3 class="visually-hidden">reviews</h3>
            <picture>
              <source
                srcset="
                  ./images/Ice-cream_pictures/customer_3_1x.png 1x,
                  ./images/Ice-cream_pictures/customer_3_2x.png 2x
                "
              />
              <img
                class="reviews-image"
                src="./images/Ice-cream_pictures/customer_3_1x.png "
                alt="customer-foto"
              />
            </picture>
            <div class="reviews-slider">
              <div class="reviews-text-wrapper">
                <p class="reviews-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus esse dolores ratione doloribus inventore nemo
                  officiis eius labore.
                </p>
              </div>
            </div>
            <div class="point">
              <ul class="point-list">
                <li class="point-item"></li>
                <li class="point-item"></li>
                <li class="point-item"></li>
              </ul>
            </div>

            <p class="reviews-name">Natali, Chicago</p>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
