<footer class="footer">
    <div class="conteiner">
        <p class="footer-title">homemade ice cream made</br>
        <span class="footer-title-two">with passion</span></p>
        <ul class="footer-list">
            <li class="footer-item">
                <a href="" class="footer-link" target="_blank" rel="noopener noreferrer nofollow">
                    <svg class="footer-icon" width="19" height="19">
                        <use href="./images/icons/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-item">
                <a href="" class="footer-link" target="_blank" rel="noopener noreferrer nofollow">
                    <svg class="footer-icon" width="19" height="19" >
                        <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
                        
                    </svg>
                </a>
            </li>
            <li class="footer-item">
                <a href="" class="footer-link" target="_blank" rel="noopener noreferrer nofollow">
                    <svg class="footer-icon" width="19" height="19" >
                    <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer-contact">
            <p class="footer-contact-text">Feel free to contact <a href="+610383766284" class="footer-contact-tel" target="_blank" rel="noopener noreferrer nofollow"> +61 (0) 383 766 284 </a> </p>
        </div>
        <p class="text-bottom">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>