<section class="gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="container">
        <div class="gallery-cards">
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/ice-cream_with_roses_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_with_roses_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_with_roses_tab_2x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_with_roses_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_with_roses_mob_2x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_with_roses_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/ice-cream_with_roses_mob_1x.jpg" alt="ice-cream_with_roses">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/ice-cream_cone_desk_1x.jpg 1x,
                                        ./images/Ice-cream_gallery/ice-cream_cone_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_cone_tab_1x.jpg 1x,
                                        ./images/Ice-cream_gallery/ice-cream_cone_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_cone_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_cone_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/ice-cream_cone_mob_1x.jpg" alt="ice-cream_cone">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/raspberry_ice-cream_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/raspberry_ice-cream_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/raspberry_ice-cream_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/raspberry_ice-cream_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/raspberry_ice-cream_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/raspberry_ice-cream_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/raspberry_ice-cream_mob_1x.jpg" alt="raspberry_ice-cream">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/ice-cream-cones_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream-cones_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream-cones_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream-cones_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream-cones_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream-cones_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/ice-cream-cones_mob_1x.jpg" alt="ice-cream_cones">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/girl_with_ice-cream_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/girl_with_ice-cream_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/girl_with_ice-cream_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/girl_with_ice-cream_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/girl_with_ice-cream_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/girl_with_ice-cream_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/girl_with_ice-cream_mob_1x.jpg" alt="girl_with_ice-cream">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/ice-cream_with_berries_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_with_berries_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_with_berries_tab_1x.jpg 1x,
                                        ./images/Ice-cream_gallery/ice-cream_with_berries_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_with_berries_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_with_berries_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/ice-cream_with_berries_mob_1x.jpg"
                        alt="ice-cream_with_berries">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/red_ice-cream_cone_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/red_ice-cream_cone_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/red_ice-cream_cone_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/red_ice-cream_cone_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/red_ice-cream_cone_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/red_ice-cream_cone_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/red_ice-cream_cone_mob_1x.jpg" alt="red_ice-cream_cone">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/dog_with_ice-cream_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/dog_with_ice-cream_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/dog_with_ice-cream_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/dog_with_ice-cream_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/dog_with_ice-cream_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/dog_with_ice-cream_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/dog_with_ice-cream_mob_1x.jpg" alt="dog_with_ice-cream">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/ice-coffe_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-coffe_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-coffe_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-coffe_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-coffe_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-coffe_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/ice-coffe_mob_1x.jpg" alt="ice-coffe">
                </picture>
            </div>
            <div class="gallery-box">
                <picture>
                    <source srcset="./images/Ice-cream_gallery/ice-cream_shaker_desk_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_shaker_desk_2x.jpg 2x"
                        media="(min-width:1280px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_shaker_tab_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_shaker_tab_2x.jpg 2x"
                        media="(min-width:768px)" type="image/jpeg">
                    <source srcset="./images/Ice-cream_gallery/ice-cream_shaker_mob_1x.jpg 1x,
                                            ./images/Ice-cream_gallery/ice-cream_shaker_mob_2x.jpg 2x"
                        media="(max-width:767px)" type="image/jpeg">
                    <img src="./images/Ice-cream_gallery/ice-cream_shaker_mob_1x.jpg" alt="ice-cream_shaker">
                </picture>
            </div>
        </div>
    </div>
</section>