<div class="container">
  <div class="mobile-tablet-header">
    <a href="" class="header-logo">
      <img
        src="./images/Ice-cream_pictures/logo_1x.png"
        width="50"
        alt="logo"
        class="header-logo-icon"
      />
      <p class="header-logo-label">icecream</p>
    </a>

    <nav class="main-nav">
      <ul class="main-nav-list">
        <li class="main-nav-item">
          <a href="./index.html" class="main-nav-link">Home</a>
        </li>
        <li class="main-nav-item">
          <a href="#about" class="main-nav-link">About us</a>
        </li>
        <li class="main-nav-item">
          <a href="#about" class="main-nav-link">How it’s made?</a>
        </li>
        <li class="main-nav-item">
          <a href="#products" class="main-nav-link">Our products</a>
        </li>
        <li class="main-nav-item">
          <a href="#contacts" class="main-nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="header-burger-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="20" height="20">
        <use href="./images/icons/symbol-defs.svg#burger"></use>
      </svg>
    </button>
    <button class="tablet-buy-btn" data-modal-open>
      Buy now
      <svg class="tablet-btn-icon-vector" width="8" height="10">
        <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
      </svg>
    </button>

    <div class="mobile-menu-hidden js-menu-container hell" id="mobile-menu">
      <button class="tablet-buy-btn size js-close-menu" data-modal-open>
        Buy now
        <svg class="tablet-btn-icon-vector" width="8" height="10">
          <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
        </svg>
      </button>
      <ul class="mobile-hidden-list">
        <li class="mobile-hidden-item">
          <a href="./index.html" class="mobile-hidden-link js-close-menu"
            >Home</a
          >
        </li>
        <li class="mobile-hidden-item">
          <a href="#about" class="mobile-hidden-link js-close-menu">About us</a>
        </li>
        <li class="mobile-hidden-item">
          <a href="#about" class="mobile-hidden-link js-close-menu"
            >How it’s made?</a
          >
        </li>
        <li class="mobile-hidden-item">
          <a href="#products" class="mobile-hidden-link js-close-menu"
            >Our products</a
          >
        </li>
        <li class="mobile-hidden-item">
          <a href="#contacts" class="mobile-hidden-link js-close-menu"
            >Contact</a
          >
        </li>
      </ul>

      <button type="button" class="menu-close-btn js-close-menu">
        <svg class="icon" width="16" height="16">
          <use href="./images/icons/symbol-defs.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="modal__close-button" data-modal-close>
        <svg class="icon" width="20" height="20">
          <use href="./images/icons/symbol-defs.svg#close"></use>
        </svg>
      </button>
      <p class="modal__title">Leave your information, we will call you back</p>

      <form class="modal-form">
        <label class="modal-form__label" for="modal-name">Name</label>
        <div class="modal-form__input-modal-wrap">
          <input
            class="modal-form__input-modal"
            type="text"
            name="modal-name"
            id="modal-name"
          />
        </div>

        <label class="modal-form__label" for="modal-tel">Telephone</label>
        <div class="modal-form__input-modal-wrap">
          <input
            class="modal-form__input-modal"
            type="tel"
            name="modal-tel"
            id="modal-tel"
          />
        </div>

        <label class="modal-form__label" for="modal-email">E-mail</label>
        <div class="modal-form__input-modal-wrap">
          <input
            class="modal-form__input-modal"
            type="email"
            name="modal-email"
            id="modal-email"
          />
        </div>

        <label class="modal-form__label" for="modal-area">Comments</label>
        <textarea
          class="modal-form__modal-area"
          name="modal-area"
          id="modal-area"
          placeholder="Enter text"
        ></textarea>

        <div class="modal-form__modal-field">
          <input
            class="modal-form__input-check visually-hidden"
            type="checkbox"
            name="politicy"
            id="modal-check"
          />
          <label class="modal-form__check-text" for="modal-check">
            <span class="modal-form__icon-border"> </span>
            <span>I agree with the newsletter and accept</span>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="modal-form__link"
              >Terms of an agreement</a
            >
          </label>
        </div>

        <button class="modal-form__button" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
