<div class="container">
  <div class="mobile-tablet-header">
    <a href="" class="header-logo">
      <img
        src="./images/Ice-cream_pictures/logo_1x.png"
        width="50"
        alt="logo"
        class="header-logo-icon"
      />
      <p class="header-logo-label">icecream</p>
    </a>

    <nav class="main-nav">
      <ul class="main-nav-list">
        <li class="main-nav-item">
          <a href="./index.html" class="main-nav-link">Home</a>
        </li>
        <li class="main-nav-item">
          <a href="" class="main-nav-link">About us</a>
        </li>
        <li class="main-nav-item">
          <a href="#about" class="main-nav-link">How it’s made?</a>
        </li>
        <li class="main-nav-item">
          <a href="#products" class="main-nav-link">Our products</a>
        </li>
        <li class="main-nav-item">
          <a href="#contacts" class="main-nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="header-burger-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="20" height="20">
        <use href="./images/icons/symbol-defs.svg#burger"></use>
      </svg>
    </button>
    <button class="tablet-buy-btn">
      Buy now
      <svg class="tablet-btn-icon-vector" width="8" height="10">
        <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
      </svg>
    </button>

    <div class="mobile-menu-hidden js-menu-container" id="mobile-menu">
      <button class="tablet-buy-btn size">
        Buy now
        <svg class="tablet-btn-icon-vector" width="8" height="10">
          <use href="./images/icons/symbol-defs.svg#icon-btn-vector"></use>
        </svg>
      </button>
      <ul class="mobile-hidden-list">
        <li class="mobile-hidden-item">
          <a href="./index.html" class="mobile-hidden-link">Home</a>
        </li>
        <li class="mobile-hidden-item">
          <a href="" class="mobile-hidden-link">About us</a>
        </li>
        <li class="mobile-hidden-item">
          <a href="#about" class="mobile-hidden-link">How it’s made?</a>
        </li>
        <li class="mobile-hidden-item">
          <a href="#products" class="mobile-hidden-link">Our products</a>
        </li>
        <li class="mobile-hidden-item">
          <a href="#contacts" class="mobile-hidden-link">Contact</a>
        </li>
      </ul>

      <button type="button" class="menu-close-btn js-close-menu">
        <svg class="icon" width="16" height="16">
          <use href="./images/icons/symbol-defs.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
