<section class="hero">
  <div class="container hero-container">
    <div class="hero-box-left">
      <h1 class="hero-title">
        <span>ice cream</span><span> made with </span
        ><span class="hero-accent">passion</span>
      </h1>
      <ul class="hero-btns list">
        <li class="hero-btns-item">
          <a class="hero-btns-link hero-btns-link-dark" href="#">Products</a>
        </li>
        <li class="hero-btns-item">
          <a class="hero-btns-link hero-btns-link-white" href="#about"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="hero-box-bottom">
        <picture>
          <source
            srcset="
              ./images/Ice-cream_pictures/hero_milkjug_desk_1x.png 1x,
              ./images/Ice-cream_pictures/hero_milkjug_desk_2x.png 2x
            "
            type="image/png"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/Ice-cream_pictures/hero_milkjug_tab_1x.png 1x,
              ./images/Ice-cream_pictures/hero_milkjug_tab_2x.png 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />

          <img
            class="hero-box-bottom-img"
            src="./images/Ice-cream_pictures/hero_milkjug_tab_1x.png"
            alt="Jug of milk"
          />
        </picture>
        <div class="hero-box-bottom-textbtn">
          <p class="hero-box-bottom-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="hero-box-bottom-btn" type="button">
            <svg class="hero-box-bottom-icon" width="15" height="10">
              <use href="./images/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero-box-center">
      <picture>
        <source
          srcset="
            ./images/Ice-cream_pictures/hero_ice-cream_desk_1x.png 1x,
            ./images/Ice-cream_pictures/hero_ice-cream_desk_2x.png 2x
          "
          type="image/png"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/Ice-cream_pictures/hero_ice-cream_tab_1x.png 1x,
            ./images/Ice-cream_pictures/hero_ice-cream_tab_2x.png 2x
          "
          type="image/png"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/Ice-cream_pictures/hero_ice-cream_mob_1x.png 1x,
            ./images/Ice-cream_pictures/hero_ice-cream_mob_2x.png 2x
          "
          type="image/png"
          media="(max-width:767px)"
        />

        <img
          class="hero-box-center-img"
          src="./images/Ice-cream_pictures/hero_ice-cream_mob_1x.png"
          alt="Ice cream close-up"
        />
      </picture>
    </div>
    <div class="hero-box-right">
      <p class="hero-box-right-text">
        <span class="hero-box-right-number">16</span
        ><span class="hero-box-right-content">cafes</span>
      </p>
      <p class="hero-box-right-text">
        <span class="hero-box-right-number">23</span
        ><span class="hero-box-right-content">food trucks</span>
      </p>
      <picture>
        <source
          srcset="
            ./images/Ice-cream_pictures/hero_so-tasty_desk_1x.png 1x,
            ./images/Ice-cream_pictures/hero_so-tasty_desk_2x.png 2x
          "
          type="image/png"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/Ice-cream_pictures/hero_so-tasty_tab_1x.png 1x,
            ./images/Ice-cream_pictures/hero_so-tasty_tab_2x.png 2x
          "
          type="image/png"
          media="(min-width:768px)"
        />

        <img
          class="hero-box-right-img"
          src="./images/Ice-cream_pictures/hero_so-tasty_tab_1x.png"
          alt="Girl eating ice cream"
        />
      </picture>
    </div>
  </div>
</section>
