<section class="products">
  <div class="conteiner">
    <p class="products-label">100% natural</p>
    <h2 class="products-title">products</h2>
    <div class="products-gallery">
      <ul class="products-list">
        <li class="products-item">
          <h3 class="list-label">ice cream</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </li>
        <li class="products-item">
          <h3 class="list-label">ice coffee</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </li>
        <li class="products-item">
          <h3 class="list-label">milkshakes</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
