<section class="products" id="products">
  <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-title">products</h2>
    <div class="products-gallery">
      <ul class="products-list">
        <li class="products-item list-label-first">
          <h3 class="list-label">ice cream</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et<span class="text-hidden">. dolore magna aliqua facilisis.</span>
          </p>
          <button class="product-button">
            <svg class="product-btn-icon" width="16" height="12">
              <use href="./images/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products-item list-label-second">
          <h3 class="list-label">ice coffee</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et<span class="text-hidden">. dolore magna aliqua facilisis.</span>
          </p>
          <button class="product-button">
            <svg class="product-btn-icon" width="16" height="12">
              <use href="./images/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products-item list-label-third">
          <h3 class="list-label">milkshakes</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et<span class="text-hidden">. dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="product-button">
            <svg class="product-btn-icon" width="16" height="12">
              <use href="./images/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>