<section class="products">
  <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-title">products</h2>
    <div class="products-gallery">
      <ul class="products-list">
        <li class="products-item list-label-first">
          <h3 class="list-label">ice cream</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="product-button">
            <img src="./images/Ice-cream_pictures/arrow-right.png" alt="" />
          </button>
        </li>
        <li class="products-item list-label-second">
          <h3 class="list-label">ice coffee</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="product-button">
            <img src="./images/Ice-cream_pictures/arrow-right.png" alt="" />
          </button>
        </li>
        <li class="products-item list-label-third">
          <h3 class="list-label">milkshakes</h3>
          <p class="list-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="product-button">
            <img src="./images/Ice-cream_pictures/arrow-right.png" alt="" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
